<!doctype html>
<html>
<head>
  <title>Ball Clock Simulator</title>
</head>
<body>
  <div data-ng-app="ballclockApp">
    <div data-ng-controller="bcController as bc">
      <p>Number of balls: <input type="number" min="27" max="127" ng-model="bc.ball_count"></p>
      <p>Number of minutes: <input type="number" ng-model="bc.minute_count"></p>
      <button ng-click="do_work(bc, bc.ball_count, bc.minute_count)">Calculate</button>
      <p>Minimum number of balls: {{(4+11+11+1)}}</p>
      <p>One 12 Cycle: {{bc.queue_after_12_hours}}</p>
      <p>Days Until Original Order: {{bc.days_until_original_order}}</p>
      <p>Current State of Ballclock: 
        <ul>
          <li>One Minute: {{bc.current_minute}}</li>
          <li>Five Minute: {{bc.current_five_minute}}</li>
          <li>Hour: {{bc.current_hour}}</li>
          <li>Queue: {{bc.current_queue}}</li>
        </ul>
      </p>
    </div>
  </div>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="ballclock.js"></script>
</body>
</html>
